<!-- search the catalogue by Item-code ( drop-down) or Description keyword or ( Reference code ) -->
<form >
  <div class="ui-g ui-fluid" autocomplete="on">
    <p>search the product catalogue by </p>
    <div class="ui-inputgroup">
     <div class="ui-g-12 ui-lg-6 ui-g-nopad">
        <input type="text" pInputText placeholder="Item code">
      </div>
    </div>
    <p> and / or </p>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Product Description Keyword">
        <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"  label="search"></button>
      </div>
    </div>
   </div>
    <div  class="ui-g ui-fluid" autocomplete="on">
    <p> filter by </p>
    <div class="ui-g-12 ui-lg-3">
      <div class="ui-inputgroup">
        <p-dropdown [options]="UM"   placeholder="Unit of Measure: Boxes(BXS)"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
      <div class="ui-inputgroup">
        <p-dropdown [options]="warehouse"  placeholder="Warehouse Canada - Toronto(ALL)"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
      <div class="ui-inputgroup">
        <p-dropdown [options]="filtercrireria"  placeholder="Filter: All Items"></p-dropdown>
      </div>
    </div>
  </div>
</form>