<app-header></app-header>
<br>
<app-projectdetailsform></app-projectdetailsform>
<app-tiledistributorform></app-tiledistributorform>
<app-architectform></app-architectform>
<app-interiordesignerform></app-interiordesignerform>
<app-generalcontractorform></app-generalcontractorform>
<app-tilecontractorform></app-tilecontractorform>
<app-productspecsform></app-productspecsform>
<app-projectetaform></app-projectetaform>
<app-inventorysourceform></app-inventorysourceform>
<router-outlet></router-outlet>
