<h2>Interior Designer</h2>
<form [formGroup]="interiorDesignerForm"  (ngSubmit)="onSubmit(interiorDesignerForm.value)">
<div class="ui-g ui-fluid"  autocomplete="on" >
    <div class="ui-g-12 ui-lg-3 ui-g-nopad">
        <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" formControlName="name" placeholder="Name">
        </div>
    </div>
    <div class="ui-g-12 ui-lg-3" >
           <input type="text"  formControlName="address" placeholder="Address">
    </div>
    <div class="ui-g-12 ui-lg-3">
            <p-inputMask mask="999-999-9999"  formControlName="phone" placeholder="999-999-9999"></p-inputMask>
    </div>
    <div class="ui-g-12 ui-lg-3">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">email</span>
            <input type="email" formControlName="email" placeholder="email address">
        </div>
    </div>
</div>

<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-2">
            <input type="text"  formControlName="company" placeholder="Company Name">
    </div>
    <div class="ui-g-12 ui-md-2">
            <input type="text"  formControlName="city" placeholder="City">
    </div>
    <div class="ui-g-12 ui-md-2">
            <input type="text" formControlName="state" placeholder="State">
    </div>
    <div class="ui-g-12 ui-md-2">
            <input type="text" formControlName="zip"  placeholder="zip">
        </div>
 
<div class="ui-g-12 ui-md-2">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">www</span>
        <input type="text" formControlName="website" placeholder="Website">
    </div>
</div>


    <div class="ui-g-12 ui-md-2">
        <button color="primary" type="submit">S</button>
    </div>
    </div>
</form>