<form [formGroup]="tilecontractorForm" class="container" autocomplete="on"  (ngSubmit)="onSubmit()">
  <h2>Tile Contractor</h2>
  <div fxLayout="row">
    <div class="item item-1" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="firstname" placeholder="First Name" class="form-control">
      </mat-form-field>
    </div>
    <div class="item item-2" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="lastname" placeholder="Last Name" class="form-control">
      </mat-form-field>
    </div>
    <div class="item item-3" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="address" placeholder="Address">
      </mat-form-field>
    </div>
    <div class="item item-4" fxFlex="15">
      <mat-form-field>
        <input matInput type="text" formControlName="phone" placeholder="Phone">
        <mat-hint>(999) 999-9999</mat-hint>
        <mat-error>only digits </mat-error>
      </mat-form-field>
    </div>
    <div class="item item-5" fxFlex="25%">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="email address">
        <mat-hint>should be a valid email format</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="container" fxLayout="row">
    <div class="item item-1" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="company" placeholder="Company Name">
      </mat-form-field>
    </div>
    <div class="item item-2" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="city" placeholder="City">
      </mat-form-field>
    </div>
    <div class="item item-3" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="state" placeholder="State">
      </mat-form-field>
    </div>
    <div class="item item-4" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="zip" placeholder="zip">
      </mat-form-field>
    </div>
    <div class="item item-5" fxFlex="20%">
      <mat-form-field>
        <input matInput type="text" formControlName="website" placeholder="website">
      </mat-form-field>
    </div>
    <div class="item item-6" fxFlex>
      <button mat-button color="primary" type="submit">S</button>
    </div>
  </div>
  </form>