<app-header></app-header>
<form [formGroup]="loginForm" class="container" autocomplete="on" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="username email" class="form-control">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="password" class="form-control">
      </mat-form-field>
    </div>
    </div>
</form>