<hr>
<h4> Tile Distributor </h4>
<!--name, address, phone, email, company_name, city, state, zip_code, website -->
<div class="ui-g ui-fluid">
  <!-- name -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="name">
  </div>
  <!-- address -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="address">
  </div>
  <!-- phone -->
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <span>Phone Ext</span>
    <p-inputMask mask="(999) 999-9999? x99999" [(ngModel)]="phone" placeholder="(999) 999-9999? x99999"></p-inputMask>
  </div>
  <!-- email -->
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <span>Email address</span>
    <p-inputMask mask="*@*" [(ngModel)]="email" placeholder="*@*" ></p-inputMask>
  </div>
  <!-- company_name -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="company_name">
  </div>
  <!-- city -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="city">
  </div>
  <!-- state -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="state">
  </div>
  <!-- zip code -->
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="zipcode">
  </div>
  <!-- website -->
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">www</span>
      <input type="text" pInputText placeholder="Website">
    </div>
  </div>

</div>
<hr>

